---
import ContentView from "../components/ContentView.astro";
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";

import json from "../openapi/shipengine.json";
import { groupByTags } from "../utils/tag.filter";

import SwaggerClient from "swagger-client";

// Fetch resolved spec from openapie definition
// TODO Fetch from POJO or URL
const spec = await SwaggerClient({ spec: json });
const { spec: data } = spec;
// Filter date by tags for navigation
const tags = groupByTags(data);
---

<Layout title="Gate - Static API documentation" data={data}>
  <div class="flex flex-col lg:flex-row top-0 bottom-0 overflow-hidden">
    <Navigation data={data} tags={tags} />
    <ContentView data={data} tags={tags} />
  </div>
</Layout>
