---
import CodeView from "../components/CodeView.astro";
import ContentView from "../components/ContentView.astro";
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";

import data from "../openapi/netlify.json";
import { groupByTags } from "../utils/tag.filter";
const tags = groupByTags(data);
---

<Layout title="Gate - Static API documentation" data={data}>
  <div class="flex flex-col lg:flex-row top-0 bottom-0 overflow-hidden">
    <Navigation data={data} tags={tags} />
    <ContentView data={data} tags={tags} />
  </div>
</Layout>
