---
const {
  data,
  data: { info },
} = Astro.props;
---

<div class="">
  {
    Object.keys(data.paths).map((pathKey) => {
      const path = data.paths[pathKey];
      return (
        <div>
          <div class="flex flex-col">
            {Object.keys(path).map((key) => {
              const operation = path[key];
              return (
                <div class="flex">
                  <div class="flex-1">
                    <div class="font-bold text-xl">
                      {operation.summary || operation.operationId}
                    </div>
                    <div class="m-4">
                      <span class="badge badge-lg">
                        {key.toLocaleUpperCase()}
                      </span>
                      <span>{data.basePath + pathKey}</span>
                      <div class="my-4">{operation.description}</div>
                      <div>
                        {operation.parameters.some(
                          (param) => param.in === "query"
                        ) && <h2 class="font-bold">Query Params</h2>}
                        {operation.parameters
                          .filter((param) => param.in === "query")
                          .map((param) => {
                            return (
                              <div>
                                <div>
                                  <span class="font-bold">{param.name}</span>{" "}
                                  <span>{param.type}</span>
                                </div>
                                <div>{param.description}</div>
                              </div>
                            );
                          })}
                      </div>
                    </div>
                  </div>
                  <div class="flex-1">
                    <div class="card shadow-lg">
                      <div class="card-body">
                        <div>Request sample: </div>
                        <div>
                          curl --request {key.toUpperCase()} --url '
                          {data.basePath}' --header 'ContentType:
                          application/json'
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              );
            })}
          </div>
        </div>
      );
    })
  }
</div>
