---
import Param from "./Param.astro";

const { data, operation } = Astro.props;
---

<div>
  <code>
    <div><span class="font-bold">{operation}</span> - {data.description}</div>
    Body
  </code>
  <div>
    {
      data?.schema?.properties &&
        Object.entries(data.schema.properties).map(([key, value]) => {
          return <Param data={data} key={key} param={value} />;
        })
    }
  </div>
</div>
